body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}
* {
    box-sizing: border-box;
}

.bad{
    background: url("~@/assets/img.png") no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    background-size:cover;
    position: fixed;
}

.loginpic{
    background: url("~@/assets/pic.jpg") no-repeat;
    background-position: center;
    height:100%;
    width:100%;
    background-size:cover;
    position: fixed;
}